@import '../../../styles.scss';

.formulario {
    margin-top: 5rem;

    .campo {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        label {
            flex: 0 0 10rem;
        }
        input {
            flex: 1;
            padding: 1rem;
            border: none;
            background-color: lighten($gris, 40%);
        }
    }
}

.acciones {
    margin-top: 5rem;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }

    a {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        color: $negro;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.crear {
    margin-top: 5rem;

    .uptask {
        background: linear-gradient(to right, $cyan 0%, lighten($cyan, 30%) 100%);
        color: transparent;
        background-clip: text;
        font-size: 7rem;
        text-align: center;

        @include tablet {
            font-size: 10rem;
        }
    }
}